## Visual Studio artifacts ##
[Bb]in/
[Oo]bj/
x64/
[Dd]ebug/
[Rr]elease/
*.exe
*.pdb
*.ilk
*.cache
*.user
*.suo
*.opensdf
*.sdf
ipch/

## Compilation outputs ##
*.obj
*.tlog
*.log
*.idb
*.pch
*.lib
*.dll

## Other ##
packages/
.vs/
